body {
	background-color: grey;
}

h1 {
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
}

#chat{
	background-color: white; 
	width: 99.5%;
	height: 205%;
	margin-top:2%;
	overflow: auto;
}

input{
	margin-top:2%;
}

input[type=text] {
	border: 0;
	padding: 10px;
	width: 90%;
	text-align: left;
}

input[type=submit]{
	width: 9%;
	background: white;
	color:grey; 
	border: none;
	padding: 10px;
}

form{
	    width: 108.2%;
}
h2 {
	position: absolute;
	width: 800px;
	height: 200px;
	left: 50%;
	top: 19%;
	margin-left: -400px;
	font-family: arial, sans-serif;
	color: white;
	text-align: center;
}

#content {
	position: absolute;
	width: 800px;
	height: 200px;
	left: 50%;
	top: 25%;
	margin-left: -400px;
}